<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

    <form action="/new_student" method="POST">
        <label>First Name: 
            <input type="text" name="fname">
        </label>
        <br>

        <label>Last Name: 
            <input type="text" name="lname">
        </label>
        <br>

        <label>Github Account: 
            <input type="text" name="github">
        </label>
        <br>

        <input type="submit" value="Add Student">
    </form>

</body>
</html>

